* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

#button {
  margin-top: 65px;
  padding: 10px;
  border-radius: 8px;
}

#container {
  display: grid;
  height: 400px;
  width: 400px;
  border: 2px solid red;
}

.grid {
  border: 1px solid black;
}

.gridHover {
  background-color: black;
}
